NODE_PORT="1000"
NODE_DB="postgres://user:password@127.0.0.1:5432/database"
NODE_DB_CA=""
NODE_ENV="development"
NODE_COOKIE="StrongRandomSecretString"

SESSION_ACCESS_SECRET="StrongRandomSecretString"
SESSION_REFRESH_SECRET="StrongRandomSecretString"
